*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
--orange:#F75C03; /*D90368*/  /*#F75C03*/
--blue:#0B7EF3;
--white:rgb(255, 255, 255);
--dwhite:#F4F1EA;
--black:#000000;
--dblack:#191919;
}
body{
    background-color:var(--dwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
body.light-mode {
    background-color: var(--dwhite);
    color: var(--black);
}
body.light-mode .container{
    /* background-color: var(--white); */
    background-color: white;
    color: var(--black);
    

}
/* Dark mode */
body.dark-mode {
    background-color: var(--dblack);
    color: var(--white);
}
body.dark-mode .container{
    background-color: var(--black);
    color: var(--white);
    
}
/* DARK MODE BUTTON */

.switch-container {
    
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch-container .slider {
    --background: linear-gradient(to right, #090613ef, #18151f);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
    border: solid 1px white;
  }
  
  .switch-container .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px #f8ea27;
    background: var(--background);
    transition: transform 0.5s, box-shadow 0.5s;
  }
  
  .switch-container input:checked + .slider {
    background-color: #000;
  }
  
  .switch-container input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 8px -4px 0px 0px #f8f8f4;
  }
  

/* TAB SELECTION CSS */
.container{
   /**/
  
    width:650px;
    /* background-color: var(--white); */
    padding: 30px;
    /* box-shadow: 0 2px 16px rgba(0,0,0,.1); */
    border-radius: 20px;
}

.tab_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:2px solid rgba(229,229,229);
    position: relative;
}

.tab_box .tab_btn{
    font-size:18px;
    font-weight:600;
    color: var(--blue);
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
}
.tab_box .tab_btn.active{
    color: var(--orange);
}
.content_box{
   padding-top: 20px; 
}

.content_box .content{
    display: none;
    animation: moving .5s  ease;
}

@keyframes moving {
    from{transform:translateX(50px);opacity:0;}
    to{transform:translateX(0px);opacity:1;}
}

.content_box .content.active{
    display: block;
}

.content_box .content h2{
    margin-bottom: 10px;
}

.line{
    position:absolute;
    top: 56px;
    left: 0px;
    width: 90px;
    height: 5px;
    background-color: var(--orange);
    border-radius: 10px;
    transition: all .3s ease-in;
}


/*---------------------------------*/
.temp-container{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    width: 100%;
    height: 100%;
}
.box{
    padding: 10px;
}

.inputText,.displayText{
    border: 2px solid;
    border-radius: 25px;
    width: 270px;
    height: 250px;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    place-content: center;
}
body.light-mode input::placeholder{
    color: rgb(0, 0, 0);
}
body.dark-mode input::placeholder{
    color: rgb(255, 255, 255);
}
body.light-mode .inputText{
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);
}
body.dark-mode .inputText{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--white);
}
body.light-mode .displayText{
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);
}
body.dark-mode .displayText{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--white);
}
.fromunit,.tounit{
    margin-top: 10px;
    height: 40px;
    width: 270px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    /* appearance: none; Removes default styling on most browsers */
    cursor: pointer;
    outline: none;
}
.fromunit{
    background-color: var(--orange);
    color: var(--white);
}
.tounit{
    background-color: var(--blue);
    color: var(--white);
}

option {
    color: #000000;
    background-color: #ffffff;
}


/* Additional styling for different states */
.fromunit:hover {
    background-color: orangered;
}
.tounit:hover{
    background-color: blue;
}

.heading{
    position: absolute;
    text-align: center;
    top: 10px;
    font-size: 40px;
    
}

@media only screen and (max-width: 600px) {
    .container{
        /* height: 80vh; */
        width:350px;
        padding-top: 10px;
    }
    .temp-container{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
  }
  .inputText,.displayText{
    height: 150px;
  }
    .tab_box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(229, 229, 229);
        position: relative;
        flex-wrap: wrap;
    }
  .tab_box .tab_btn{
    padding: 10px;
  }
  .line{
    display: none;
  }
  .switch-container {
    top: 7px;
    right: 15px;
    width: 2em;
    height: 1em;
  }
  .switch-container .slider:before {
    
    height: 0.7em;
    width: 0.7em;
  }
  .heading{
    display: none;
}
}





/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}